langchain
langchain-community
langchain-core
langgraph
langgraph-checkpoint-sqlite
langchain-ollama
chromadb
elasticsearch
fastapi
uvicorn
sentence-transformers
beautifulsoup4
requests
httpx
pymupdf
python-dotenv
